@model SongSuggestionDatabase.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USDAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USDAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailedRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailedRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
